## Sesión 1. introducción a python

Python es un lenguaje de programación de alto nivel creado por Guido van Rossum y lanzado por primera vez en 1991. Es conocido por su simplicidad, legibilidad y enfoque en la facilidad de uso. Python se utiliza en una amplia variedad de aplicaciones, desde desarrollo web y científico hasta automatización de tareas y desarrollo de software en general.

Python es un lengua de programación:
 
 - Es un lenguaje de programación de alto nivel 
 - Es un lenguaje de tipado dinámico
 - Es un lenaguaje interpretado
 - Paradigma POO.
 - Es un lenguaje de progrmación versatil y multipropósito
 - Comunidad activa

### 2. Objetos en python

En Python, todo es un objeto. Un objeto es una instancia de una clase, y las clases son las plantillas que definen la estructura y el comportamiento de los objetos.
Un objeto es un lugar donde se pueden guardar valores; estos se declaran con un nombre y una asignación de contenido.
Los objetos cotienen datos (atributos, variables) y funciones (métodos).

In [2]:
name = 'Julián'
age = 28
print(name, age) #print() es una función

Julián 28

In [4]:
print('Con Print puedo concatenar variables como mi nombre',name,'y mi edad que es',age,'usando la coma como separados y las comillas en sentenceos')

Con Print puedo concatenar variables como mi nombre Julián y mi edad que es 28 usando la coma como separados y las comillas en textos

In [5]:
# Nuestro primer programa con la función input

name = input('¿Cuál es tu nombre')
age = input('¿Cuántos años tienes')
print('Tu nombre es', name, 'y tu edad es', age, 'años')

Tu nombre es Julián y tu edad es 29 años

In [10]:
# Creen un programa que le solicite la edad al usuario y le responda cuántos años va a tener en 7 años

edad = input('¿Cuántos años tienes')
edadfutura = edad + 7
print('Tu edad en 7 años será', edadfutura, 'años')

#¿Cuál es el error?

TypeError: can only concatenate str (not "int") to str

In [26]:
#========================================================================
# Cuatro tipos de varibles (string [str], integer [int], float, booleanos)
#========================================================================

num = 5
string = 'Texto de ejemplo'
booleano = True
pi = 3.141592
eje = 0

type(num), type(str), type(bool), type(pi)

(int, type, type, float)

In [ ]:
# Coerción de objetos

int(pi), int(booleano), str(num), bool(eje)

In [13]:
###################################
######## Variable String ##########

name = 'Julián'
last_name = "López Hernández"

print(name, last_name) #Concatenación para impresión

full_name = name + ' '+ last_name #Concatenación en la creación de una variable
print(full_name)

Julián López Hernández
Julián López Hernández

In [12]:
# Tipo y longitud 

type(full_name), len(full_name)

(str, 22)

In [15]:
# La forma mas popular de incorporar información a un string es con format o f

sentence = f'Hola, mi nombre es {name} y mis apellidos son {last_name}'

print(sentence)

Hola, mi nombre es Julián y mis apellidos son López Hernández

In [19]:
##################################
######## Métodos String ##########

sentence = 'Estamos aprendiendo ciencia de datos con python'
print(sentence)

Estamos aprendiendo ciencia de datos con python

In [18]:
#Algunos métodos para los str
sentence.count('a')
sentence.upper()
sentence.lower()
sentence.startswith('Estamos')
sentence.endswith('Python')
sentence.capitalize()
sentence.title()
sentence.replace('Python','R')
sentence.find('ciencia')

-1

In [60]:
##################################
#### Variables int and float #####

num = 5
print(type(num))
flo = 3.141592
print(type(flo))
# print(len(int))

<class 'int'>
<class 'float'>

In [29]:
###################################
# Operaciones aritméticas básicas #

operacion = pi + num
print(operacion)

8.141592

In [31]:
#operacion = operacion -1
operacion -= 1
print(operacion)

6.141591999999999

In [38]:
#Mas operaciones aritméticas

pi/num , pi *num, pi % num , pi**2

(0.6283184, 15.70796, 3.141592, 9.869600294464002)

In [39]:
# Reporte de notas de tres cortes: 3.2, 2.2, 4, ¿paso la materia?

agregado = 3.2+2.2+4
promedio = agregado / 3
print(promedio)

3.1333333333333333

In [41]:
agregado = [3.2, 2.2, 4]
promedio = sum(agregado)/ len(agregado)
print(promedio)

3.1333333333333333

In [42]:
# Variables booleanas

print(type(True))

# Operadores lógicos

print(not True) #Negación lógica
print(True & False) #Conjunción lógica y
print(True | False) #Disyunción lógica ó

<class 'bool'>
False
False
True

In [74]:
# Operadores de comparación

# >,<,==,!=

## 2. Estructuras básicas de de datos
En python existen 3 estructuras básicas de datos: listas, tuplas, diccionarios

### Listas
Las listas son la estructura de datos mas usada (array, vector): los elementos se separan por coma, podemos alojar diferentes tipos de elementos, son **mutables**

In [59]:
num = [] #decalarar lista
num = [1,2,3,4,5,6,7,8,9,10]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
num = list(range(1,21,2)) #start, stop, step
print(num)
print(type(num))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
<class 'list'>

In [61]:
# indexing
num[4] = 12
print(lis_2 )

[1, 3, 5, 7, 12, 11, 13, 15, 17, 19]

In [3]:
lis_2 [:5] #del inicio hasta el indice 5
lis_2 [:] # del inicio hasta el fin
lis_2 [::2] # start, stop, step

[1, 5, 9, 13, 17]

In [4]:
lis_2 [:3] = [2,6,8]
print(lis_2 )

[2, 6, 8, 7, 9, 11, 13, 15, 17, 19]

In [5]:
# Métodos en las listas
# CRUD: create, read, update and delete (Consultas SQL)

#Update

lis_2 .append(21) #Agrega un nuevo elemento al final
print(num)

[2, 6, 8, 7, 9, 11, 13, 15, 17, 19, 21]

In [6]:
num.insert(0,'Hola') #inserta la palabra en la indexación dada
num

['Hola', 2, 6, 8, 7, 9, 11, 13, 15, 17, 19, 21]

In [7]:
num.index(2) #en qué posición está el argumento

1

In [12]:
num.pop(0) #Elimina la posición que le damos

19

In [9]:
print(num)
num.pop() # Elimina el último
print(num)

[2, 6, 8, 7, 9, 11, 13, 15, 17, 19, 21]
[2, 6, 8, 7, 9, 11, 13, 15, 17, 19]

In [10]:
num.sort() #Ordena de manera ascendente
print(num)

[2, 6, 7, 8, 9, 11, 13, 15, 17, 19]

In [11]:
num.reverse() #Ordena descendentemente
print(num)

[19, 17, 15, 13, 11, 9, 8, 7, 6, 2]

In [17]:
#Create
# Creen una lista que de numeros impares desde 1 hasta 20
# Lo ordenen de manera descendente
# Remplacen el número 3 por 300 y el 11 por 111

lis_2 = list(range(1,21,2))
print('generamos lista: ', lis_2 )
lis_2 .reverse()
print('Cambiamos orden:', )
lis_2 [9] = 300
lis_2 [5] = 111
print('Remplazamos datos: ', lis_2 )

generamos lista:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Cambiamos orden:
Remplazamos datos:  [19, 17, 15, 13, 11, 111, 7, 5, 3, 300]

In [18]:
lis_2 + num #Fusionar listas

[19, 17, 15, 13, 11, 111, 7, 5, 3, 300, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
##########################
##### Diccionarios #######
# Indexación

dic = {}
print(type(dic))

<class 'dict'>

In [23]:
dic = {
    'Columna 1': list(range(1,11)),
    'Columna 2': list(range(10,21)),
    'Columna 3': list(range(20,31))
}

In [24]:
print(dic)

{'Columna 1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Columna 2': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'Columna 3': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

In [26]:
print(dic['Columna 1'])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Dictionary example

dic_1 = {'One': 1,
         'Two': 2,
         'Three': 3,
         'Four': 4
         }

print(dic_1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [ ]:
# Dictionary indexing (key)

print(dic_1['One'])
print(dic_1['Three'])

1
3

In [ ]:
#combination of dictionaries and lists

comb_1 = {
    'nombres': ['Juan', 'Pedro', 'Maria'],
    'edades': [20, 10, 15]
}
print(comb_1)
print(comb_1['nombres'])
print(comb_1['nombres'][1])
print(comb_1['edades'][1])

{'nombres': ['Juan', 'Pedro', 'Maria'], 'edades': [20, 10, 15]}
['Juan', 'Pedro', 'Maria']
Pedro
10

In [ ]:
# dictionary lists

mi_otra_com = [
    {
        'nombre': 'Juan',
        'edad': 20
    },
    {
        'nombre': 'Pedro',
        'edad': 20
    },
    {
        'nombre': 'Maria',
        'edad': 15
    },
]

print(mi_otra_com)
print(mi_otra_com[1]['nombre'])
print(mi_otra_com[1]['edad'])

[{'nombre': 'Juan', 'edad': 20}, {'nombre': 'Pedro', 'edad': 20}, {'nombre': 'Maria', 'edad': 15}]
Pedro
20

## Para casa

1. Crear una lista que contenga los números impares del 1 al 100
2. Crear un diccionario que tenga tres listas que vayan de: 0 al 9, 10 al 19 y 20 a 29.
3. Cree una lista que contenga 3 listas de 3 registros cada una. Imprima el segundo valor del tercer registro.
4. Crre un diccionario con 3 diccionarios donde cada diccionario registre tres valores cualesquiera (ejm. nombre, sexo, edad)